
@media (min-width:800px) {
    .app {
        background: black;
        height:100vh;
        width:100%;
    }
    .app_contain { 
        padding-top:15em;
    }

    .app_contain > h1 {
        align-items:center;
        text-align:center;
        color:#ffffff;
        width:60%;
        margin:auto;
        line-height:1.7;
        text-transform: uppercase;
        margin-bottom:2em;
    }

    .app_contain > h2 {
        align-items:center;
        text-align:center;
        color:#ffffff;
        width:60%;
        margin:auto;
        line-height:1.7;
        font-size:1em;
    }
}

@media (max-width:800px) {

    .app_contain {
        display:none;
    }
}