.checkout {
    background:#f6f6f6;
}
.checkout_header {
    display:flex;
    align-items:center;
    padding:1em;
    background:#feda56;

}

.checkout_header > h1 {
    font-size:1em;
    text-align:center;
    margin:auto;
    text-transform: uppercase;
}

